{% extends 'core/base.html' %}


{% load static %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Education</h1>

    <a href="https://www.facebook.com/bchbs/" target="blank"><h3>SLC from Boudha Children Heaven Boarding School</h3></a>
    <br>
    <a href="https://www.rianepal.edu.np/" target="blank"><h3>+2 from Reliance International Academy</h3></a>
    <br>
    <a href="https://texascollege.edu.np/" target="blank"><h3>Bachelor Running Texas College of Management and IT</h3></a>

{% endblock content %}