/* Goggle-Font */

.st-font{
    font-family: 'Satisfy', cursive;
}

html, body{
    height: 100%;
}


.container-fluid{
    min-height: 100%
}

/* Service icon color */
.i-color{
    color:chartreuse;
}

/* skill text color */
.skill-text{
    color:silver;
}

/* navbar style */
a.nav-link{
    color:whitesmoke;
}
a.nav-link:hover{
    color:black;
    background-color: #e9cd79;
}
a.nav-link.active{
    color:black;
    background-color: #e9cd79;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }